In [1]:
import pandas as pd #!

In [2]:
df=pd.read_csv("Titanic1.csv") #!

In [3]:
df["Age"] #!

1      22.0
2      38.0
3      26.0
4      35.0
5      35.0
       ...
887    27.0
888    19.0
889     1.0
890    26.0
891    32.0
Name: Age, Length: 891, dtype: float64

In [4]:
df["Pclass"].unique()

array(['Braund', 'Cumings', 'Heikkinen', 'Futrelle', 'Allen', 'Moran',
       'McCarthy', 'Palsson', 'Johnson', 'Nasser', 'Sandstrom', 'Bonnell',
       'Saundercock', 'Andersson', 'Vestrom', 'Hewlett', 'Rice',
       'Williams', 'Vander Planke', 'Masselmani', 'Fynney', 'Beesley',
       'McGowan, Miss. Anna "Annie"', 'Sloper', 'Asplund', 'Emir',
       'Fortune', 'O\'Dwyer, Miss. Ellen "Nellie"', 'Todoroff',
       'Uruchurtu', 'Spencer', 'Glynn', 'Wheadon', 'Meyer', 'Holverson',
       'Mamee', 'Cann', 'Nicola-Yarred', 'Ahlin', 'Turpin', 'Kraeff',
       'Laroche', 'Devaney', 'Rogers', 'Lennon', "O'Driscoll", 'Samaan',
       'Arnold-Franchi', 'Panula', 'Nosworthy', 'Harper', 'Faunthorpe',
       'Ostby', 'Woolner', 'Rugg', 'Novel', 'West', 'Goodwin',
       'Sirayanian', 'Icard', 'Harris', 'Skoog', 'Stewart', 'Moubarek',
       'Nye', 'Crease', 'Kink', 'Jenkin', 'Hood', 'Chronopoulos', 'Bing',
       'Moen', 'Staneff', 'Moutal', 'Caldwell', 'Dowdell', 'Waelens',
       'Sheerlinck', 'McDermott', 'Carrau', 'Ilett', 'Backstrom', 'Ford',
       'Slocovski', 'Celotti', 'Christmann', 'Andreasson', 'Chaffee',
       'Dean', 'Coxon', 'Shorney', 'Goldschmidt', 'Greenfield', 'Doling',
       'Kantor', 'Petranec', 'Petroff, Mr. Pastcho ("Pentcho")', 'White',
       'Johansson', 'Gustafsson', 'Mionoff', 'Salkjelsvik', 'Moss',
       'Rekic', 'Porter', 'Zabour', 'Barton', 'Jussila', 'Attalah',
       'Pekoniemi', 'Connors', 'Baxter', 'Hickman', 'Moore', 'Webber',
       'McMahon', 'Madsen', 'Peter', 'Ekstrom', 'Drazenoic', 'Coelho',
       'Robins', 'Weisz', 'Sobey', 'Richard', 'Newsom', 'Osen', 'Giglio',
       'Boulos', 'Nysten', 'Hakkarainen', 'Burke', 'Andrew', 'Nicholls',
       'Andersson, Mr. August Edvard ("Wennerstrom")',
       'Ford, Miss. Robina Maggie "Ruby"',
       'Navratil, Mr. Michel ("Louis M Hoffman")', 'Byles', 'Bateman',
       'Pears', 'Meo', 'van Billiard', 'Olsen',
       'Gilnagh, Miss. Katherine "Katie"', 'Corn', 'Smiljanic', 'Sage',
       'Cribb', 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
       'Bengtsson', 'Calic',
       'Goldsmith, Master. Frank John William "Frankie"', 'Chibnall',
       'Baumann', 'Ling', 'Van der hoef', 'Sivola', 'Smith', 'Klasen',
       'Lefebre', 'Isham', 'Hale', 'Leonard', 'Pernot', 'Becker',
       'Kink-Heilmann', 'Rood',
       'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)',
       'Romaine, Mr. Charles Hallace ("Mr C Rolmane")', 'Bourke',
       'Turcin', 'Pinsky', 'Carbines', 'Andersen-Jensen', 'Navratil',
       'Brown', 'Lurette', 'Mernagh', 'Madigan, Miss. Margaret "Maggie"',
       'Yrois, Miss. Henriette ("Mrs Harbeck")', 'Vande Walle',
       'Johanson', 'Youseff', 'Cohen, Mr. Gurshon "Gus"', 'Strom',
       'Albimona', 'Carr, Miss. Helen "Ellen"', 'Blank', 'Ali', 'Cameron',
       'Perkin', 'Givard', 'Kiernan', 'Newell', 'Honkanen', 'Jacobsohn',
       'Bazzani', 'Sunderland', 'Bracken', 'Green', 'Nenkoff', 'Hoyt',
       'Berglund', 'Mellors', 'Lovell, Mr. John Hall ("Henry")',
       'Fahlstrom', 'Larsson', 'Sjostedt', 'Leyson', 'Harknett', 'Hold',
       'Collyer, Miss. Marjorie "Lottie"', 'Pengelly', 'Hunt',
       'Murphy, Miss. Katherine "Kate"', 'Coleridge', 'Maenpaa',
       'Minahan', 'Lindahl', 'Hamalainen', 'Beckwith', 'Carter', 'Reed',
       'Stead', 'Lobb', 'Rosblom', 'Touma', 'Thorne', 'Cherry', 'Ward',
       'Parrish', 'Taussig', 'Harrison', 'Henry', 'Reeves', 'Persson',
       'Graham', 'Bissette', 'Cairns', 'Tornquist', 'Mellinger', 'Natsch',
       'Healy, Miss. Hanora "Nora"', 'Andrews', 'Lindblom',
       'Parkes, Mr. Francis "Frank"', 'Abbott', 'Duane', 'Olsson',
       'de Pelsmaeker', 'Dorking', 'Stankovic', 'de Mulder', 'Naidenoff',
       'Hosono', 'Connolly', 'Barber, Miss. Ellen "Nellie"', 'Bishop',
       'Levy', 'Haas', 'Mineff', 'Lewy', 'Hanna', 'Allison', 'Saalfeld',
       'Kelly, Miss. Anna Katherine "Annie Kate"', 'McCoy', 'Keane',
       'Williams, Mr. Howard Hugh "Harry"', 'Fleming',
       'Penasco y Castellana', 'Abelson', 'Francatelli', 'Hays',
       'Ryerson', 'Lahtinen', 'Hendekovic', 'Hart', 'Nilsson', 'Moraweck',
       'Wick', 'Spedden', 'Dennis', 'Danoff', 'Slayter', 'Young',
       'Nysveen', 'Ball', 'Goldsmith', 'Hippach', 'Partner', 'Frauenthal',
       'Denkoff', 'Burns', 'Dahl', 'Blackwell', 'Collander', 'Sedgwick',
       'Fox', 'Brown, Miss. Amelia "Mildred"', 'Davison',
       'Coutts, Master. William Loch "William"', 'Dimic', 'Odahl',
       'Williams-Lambert', 'Elias', 'Yousif', 'Vanden Steen', 'Bowerman',
       'Funk', 'McGovern', 'Mockler, Miss. Helen Mary "Ellie"',
       'del Carlo', 'Barbara', 'Asim', "O'Brien", 'Adahl', 'Warren',
       'Moussa', 'Jermyn', 'Aubart', 'Harder', 'Wiklund', 'Beavan',
       'Ringhini', 'Landergren', 'Widener', 'Betros', 'Bidois',
       'Nakid, Miss. Maria ("Mary")', 'Tikkanen', 'Plotcharsky', 'Davies',
       'Buss', 'Sadlier', 'Lehmann', 'Jansson', 'McKane', 'Pain', 'Trout',
       'Niskanen', 'Adams', 'Oreskovic', 'Gale', 'Widegren', 'Richards',
       'Birkeland', 'Sdycoff', 'Cunningham', 'Sundman', 'Meek', 'Drew',
       'Silven', 'Matthews', 'Van Impe', 'Gheorgheff', 'Charters',
       'Zimmerman', 'Danbom', 'Wiseman', 'Clarke',
       'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")',
       'Flynn', 'Pickard', 'Bjornstrom-Steffansson', 'Thorneycroft',
       'Louch', 'Kallio', 'Silvey',
       'Ford, Miss. Doolina Margaret "Daisy"', 'Kvillner', 'Hampe',
       'Petterson', 'Reynaldo', 'Johannesen-Bratthammer', 'Dodge',
       'Seward', 'Baclini', 'Peuchen', 'Hagland', 'Foreman', 'Goldenberg',
       'Peduzzi', 'Jalsevac', 'Millet', 'Kenyon', 'Toomey', "O'Connor",
       'Anderson', 'Morley', 'Gee', 'Milling', 'Maisner', 'Goncalves',
       'Campbell', 'Smart', 'Scanlan', 'Keefe', 'Cacic', 'Jerwan',
       'Strandberg', 'Clifford', 'Renouf', 'Karlsson', 'Hirvonen',
       'Frost, Mr. Anthony Wood "Archie"', 'Rouse', 'Turkula', 'Kent',
       'Somerton', 'Coutts, Master. Eden Leslie "Neville"', 'Windelov',
       'Molson', 'Artagaveytia', 'Stanley', 'Yousseff', 'Eustis',
       'Shellard', 'Svensson', 'Canavan', "O'Sullivan", 'Laitinen',
       'Maioni', 'Quick', 'Bradley, Mr. George ("George Arthur Brayton")',
       'Lang', 'Daly', 'McGough', 'Rothschild', 'Coleff', 'Walker',
       'Lemore', 'Ryan',
       'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)', 'Pavlovic',
       'Perreault', 'Vovk', 'Lahoud', 'Kassem', 'Farrell', 'Ridsdale',
       'Farthing', 'Salonen', 'Hocking', 'Toufik', 'Butt', 'LeRoy',
       'Risien', 'Frolicher', 'Crosby', 'Beane', 'Douglas', 'Nicholson',
       'Padro y Manent', 'Thayer', 'Sharp',
       'Leeni, Mr. Fahim ("Philip Zenni")', 'Ohman', 'Wright',
       'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
       'Robbins', 'de Messemaeker', 'Morrow', 'Sivic', 'Norman',
       'Simmons', 'Meanwell', 'Stoytcheff', 'Doharr', 'Jonsson',
       'Appleton', 'Flynn, Mr. John Irwin ("Irving")', 'Kelly', 'Rush',
       'Patchett', 'Garside', 'Caram', 'Christy', 'Downton', 'Ross',
       'Paulner', 'Jarvis', 'Frolicher-Stehli', 'Gilinski', 'Murdlin',
       'Rintamaki', 'Stephenson', 'Elsbury', 'Chapman', 'Leitch',
       'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")', 'Slabenoff',
       'Harrington', 'Torber', 'Homer, Mr. Harry ("Mr E Haven")',
       'Lindell', 'Karaic', 'Daniel', 'Shutes', 'Jardin', 'Murphy',
       'Horgan', 'Brocklebank', 'Herman', 'Gavey', 'Yasbeck', 'Kimball',
       'Nakid', 'Hansen', 'Bowen, Mr. David John "Dai"', 'Sutton',
       'Kirkland', 'Longley', 'Bostandyeff', "O'Connell", 'Barkworth',
       'Lundahl', 'Stahelin-Maeglin', 'Parr', 'Davis', 'Leinonen',
       'Collyer', 'Jensen', 'Sagesser', 'Foo', 'Cor', 'Simonius-Blumer',
       'Willey', 'Mitkoff', 'Kalvik', 'O\'Leary, Miss. Hanora "Norah"',
       'Hegarty, Miss. Hanora "Nora"', 'Radeff', 'Eitemiller', 'Badt',
       'Colley', 'Lindqvist', 'Butler', 'Rommetvedt', 'Cook', 'Taylor',
       'Davidson', 'Mitchell', 'Wilhelms', 'Watson', 'Edvardsson',
       'Sawyer', 'Turja', 'Cardeza', 'Peters', 'Hassab', 'Olsvigen',
       'Dakic', 'Fischer', 'Madill', 'Dick', 'Karun', 'Lam', 'Saad',
       'Weir', 'Mullens, Miss. Katherine "Katie"', 'Humblen', 'Astor',
       'Silverthorne', 'Gallagher',
       'Morley, Mr. Henry Samuel ("Mr Henry Marshall")',
       'Kelly, Mrs. Florence "Fannie"', 'Calderhead', 'Cleaver',
       'Moubarek, Master. Halim Gonios ("William George")',
       'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")', 'Klaber',
       'Greenberg', 'Soholt', 'Endres',
       'Troutt, Miss. Edwina Celia "Winnie"', 'McEvoy',
       'Harper, Miss. Annie Jessie "Nina"', 'Gillespie', 'Hodges',
       'Chambers', 'Mannion', 'Bryhl', 'Ilmakangas', 'Hassan', 'Knight',
       'Berriman', 'Troupiansky', 'Lesurer', 'Ivanoff', 'Nankoff',
       'Hawksford', 'Cavendish', 'Ryerson, Miss. Susan Parker "Suzette"',
       'McNamee', 'Stranden', 'Sinkkonen', 'Marvin', 'Connaghton',
       'Wells', 'Moor', 'Vande Velde', 'Jonkoff', 'Carlsson', 'Bailey',
       'Theobald', 'Rothes', 'Garfirth', 'Nirva', 'Barah', 'Eklund',
       'Hogeboom', 'Brewe', 'Mangan', 'Gronnestad', 'Lievens', 'Mack',
       'Myhrman', 'Tobin', 'Emanuel', 'Kilgannon', 'Robert', 'Ayoub',
       'Long', 'Johnston', 'Harmer', 'Sjoblom', 'Guggenheim',
       'Keane, Mr. Andrew "Andy"', 'Gaskell', 'Dantcheff', 'Otter',
       'Leader', 'Osman', 'Ibrahim Shawah', 'Ponesell', 'Thomas',
       'Hedman', 'Pettersson', 'Alexander', 'Lester', 'Slemen', 'Tomlin',
       'Fry', 'Heininen', 'Mallet', 'Holm', 'Lulic', 'Reuchlin',
       'McCormack', 'Stone', 'Augustsson', 'Allum', 'Compton', 'Pasic',
       'Sirota', 'Chip', 'Marechal', 'Alhomaki', 'Mudd', 'Serepeca',
       'Lemberopolous', 'Culumovic', 'Abbing', 'Markoff', 'Lines', 'Aks',
       'Razi', 'Giles', 'Swift', 'Sage, Miss. Dorothy Edith "Dolly"',
       'Gill', 'Bystrom', 'Duran y More', 'Roebling', 'van Melkebeke',
       'Balkic', 'Vander Cruyssen', 'Najib, Miss. Adele Kiamie "Jane"',
       'Petroff', 'Laleff', 'Potter', 'Shelley', 'Markun', 'Dahlberg',
       'Banfield', 'Sutehall', 'Montvila',
       'Johnston, Miss. Catherine Helen "Carrie"', 'Behr', 'Dooley'],
      dtype=object)

In [5]:
df["Pclass"].value_counts()

Andersson                        8
Panula                           6
Carter                           6
Johnson                          6
Sage                             6
                                ..
Brown, Miss. Amelia "Mildred"    1
Fox                              1
Sedgwick                         1
Collander                        1
Dooley                           1
Name: Pclass, Length: 691, dtype: int64

In [6]:
df.columns  #!

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Gender', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
df.dtypes #!

PassengerId      int64
Survived         int64
Pclass          object
Name            object
Gender          object
Age            float64
SibSp            int64
Parch           object
Ticket          object
Fare            object
Cabin           object
Embarked        object
dtype: object

In [8]:
df.shape

(891, 12)

In [9]:
df.describe()  #!

       PassengerId    Survived         Age       SibSp
count   891.000000  891.000000  732.000000  891.000000
mean      0.383838    2.308642   27.867719    0.521886
std       0.486592    0.836071   15.968490    1.080118
min       0.000000    1.000000    0.000000    0.000000
25%       0.000000    2.000000   19.000000    0.000000
50%       0.000000    3.000000   28.000000    0.000000
75%       1.000000    3.000000   37.000000    1.000000
max       1.000000    3.000000   80.000000    8.000000

In [10]:
df[df["Age"]>45]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,0,1,McCarthy,Mr. Timothy J,male,54.0,0,0,17463,51.8625,E46,S
12,1,1,Bonnell,Miss. Elizabeth,female,58.0,0,0,113783,26.55,C103,S
16,1,2,Hewlett,Mrs. (Mary D Kingcome),female,55.0,0,0,248706,16,NaN,S
34,0,2,Wheadon,Mr. Edward H,male,66.0,0,0,C.A. 24579,10.5,NaN,S
53,1,1,Harper,Mrs. Henry Sleeper (Myna Haxtun),female,49.0,1,0,PC 17572,76.7292,D33,C
...,...,...,...,...,...,...,...,...,...,...,...,...
858,1,1,Daly,Mr. Peter Denis,male,51.0,0,0,113055,26.55,E17,S
863,1,1,Swift,Mrs. Frederick Joel (Margaret Welles Barron),female,48.0,0,0,17466,25.9292,D17,S
872,1,1,Beckwith,Mrs. Richard Leonard (Sallie Monypeny),female,47.0,1,1,11751,52.5542,D35,S
874,0,3,Vander Cruyssen,Mr. Victor,male,47.0,0,0,345765,9,NaN,S
880,1,1,Potter,Mrs. Thomas Jr (Lily Alexenia Wilson),female,56.0,0,1,11767,83.1583,C50,C

In [11]:
df.columns #!

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Gender', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [47]:
df.head(3) #!

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,Braund,Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.25,NaN,S
2,1,1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,Heikkinen,Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S

In [48]:
df.tail(3) #!

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1.0,2,W./C. 6607,23.45,NaN,S,NaN
890,1,1,Behr,Mr. Karl Howell,male,26.0,0,0,111369,30,C148,C
891,0,3,Dooley,Mr. Patrick,male,32.0,0,0,370376,7.75,NaN,Q

In [14]:
len(df.columns) #!

12

In [15]:
df.info() #!

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    object
 3   Name         891 non-null    object
 4   Gender       873 non-null    object
 5   Age          732 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    object
 8   Ticket       891 non-null    object
 9   Fare         846 non-null    object
 10  Cabin        249 non-null    object
 11  Embarked     836 non-null    object
dtypes: float64(1), int64(3), object(8)
memory usage: 90.5+ KB

In [16]:
df["Age"].dtype

dtype('float64')

In [17]:
type(df["Age"])

pandas.core.series.Series

In [18]:
len(df.index)  #!

891

In [19]:
len(df.columns)  #!

12

In [20]:
df[["Age","Gender"]]

      Age  Gender
1    22.0    male
2    38.0  female
3    26.0  female
4    35.0  female
5    35.0    male
..    ...     ...
887  27.0    male
888  19.0  female
889   1.0     NaN
890  26.0    male
891  32.0    male

[891 rows x 2 columns]

In [21]:
type(df[["Age","Gender"]])

pandas.core.frame.DataFrame

In [22]:
len(df[["Age","Gender"]].columns)

2

In [23]:
len(df[["Age","Gender"]].index)

891

In [24]:
len(df[df["Age"]>45].columns)

12

In [25]:
len(df[df["Age"]>45].index)

101

df to excelsheet

In [26]:
df.to_excel("titanicExcel.xlsx") #!

In [27]:
pd.read_excel("titanicExcel.xlsx") #!

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund,Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen,Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S
3,4,1,1,Futrelle,Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1,C123,S
4,5,0,3,Allen,Mr. William Henry,male,35.0,0,0,373450,8.05,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,Montvila,Rev. Juozas,male,27.0,0,0,211536,13,NaN,S
887,888,1,1,Graham,Miss. Margaret Edith,female,19.0,0,0,112053,30,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1.0,2,W./C. 6607,23.45,NaN,S,NaN
889,890,1,1,Behr,Mr. Karl Howell,male,26.0,0,0,111369,30,C148,C
890,891,0,3,Dooley,Mr. Patrick,male,32.0,0,0,370376,7.75,NaN,Q

In [28]:
df[df["Age"]>45]["Name"]

7                                      Mr. Timothy J
12                                   Miss. Elizabeth
16                            Mrs. (Mary D Kingcome)
34                                      Mr. Edward H
53                  Mrs. Henry Sleeper (Myna Haxtun)
                           ...
858                                  Mr. Peter Denis
863     Mrs. Frederick Joel (Margaret Welles Barron)
872           Mrs. Richard Leonard (Sallie Monypeny)
874                                       Mr. Victor
880            Mrs. Thomas Jr (Lily Alexenia Wilson)
Name: Name, Length: 101, dtype: object

In [50]:
df.iloc[20:25,2:4]

                         Pclass                   Name
21                       Fynney           Mr. Joseph J
22                      Beesley           Mr. Lawrence
23  McGowan, Miss. Anna "Annie"                 female
24                       Sloper   Mr. William Thompson
25                      Palsson   Miss. Torborg Danira

In [30]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            882, 883, 884, 885, 886, 887, 888, 889, 890, 891],
           dtype='int64', length=891)

In [31]:
df["Age"].max()

80.0

In [32]:
df.shape

(891, 12)

In [33]:
df.loc[df["Age"]>35,"Name"]

2       Mrs. John Bradley (Florence Briggs Thayer)
7                                    Mr. Timothy J
12                                 Miss. Elizabeth
14                                Mr. Anders Johan
16                          Mrs. (Mary D Kingcome)
                          ...
866                                Mrs. (Karolina)
872         Mrs. Richard Leonard (Sallie Monypeny)
874                                     Mr. Victor
880          Mrs. Thomas Jr (Lily Alexenia Wilson)
886                 Mrs. William (Margaret Norton)
Name: Name, Length: 208, dtype: object

In [46]:
df[(df['Pclass']==2)|(df['Pclass']==3)]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Gender, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [42]:
df[df["Pclass"].isin([2,3])]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Gender, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [49]:
df[df["Age"].notna()]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,Braund,Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.25,NaN,S
2,1,1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,Heikkinen,Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S
4,1,1,Futrelle,Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1,C123,S
5,0,3,Allen,Mr. William Henry,male,35.0,0,0,373450,8.05,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,Montvila,Rev. Juozas,male,27.0,0,0,211536,13,NaN,S
888,1,1,Graham,Miss. Margaret Edith,female,19.0,0,0,112053,30,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1.0,2,W./C. 6607,23.45,NaN,S,NaN
890,1,1,Behr,Mr. Karl Howell,male,26.0,0,0,111369,30,C148,C
891,0,3,Dooley,Mr. Patrick,male,32.0,0,0,370376,7.75,NaN,Q